@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pixel";
  src: url('./assets/fonts/TypoGraphica_demo.otf');
}

@font-face {
  font-family: "undertale";
  src: url('./assets/fonts/Undertale-Battle-Font.ttf');
}

body {
  font-family: "pixel";
}

#about {
  font-family: 'undertale';
}

/* .navbar {
  
} */

/* .btn {
  @apply rounded-full;
} */

.game-canvas {
  align-self: center;
  image-rendering: pixelated;
  transform: scale(1.6) translateY(14%);
  background-image: url("./assets/images/gamefieldLarger.png");
}

.back {
  min-height: 100vh;
  background: url('https://kartinkin.net/uploads/posts/2021-07/1625541534_2-kartinkin-com-p-krasivii-fon-terrariya-krasivie-foni-2.jpg') center no-repeat;
}

.backshop {
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/images/picture/simpleguy_pixel_cat_shop_40344d36-2b94-4544-9a63-0ebf23bfbca0.png') center center repeat fixed;
}

.backmain {
  min-height: 100vh;
  background: url('./assets/images/mainImage.jpg') center repeat
}

.backhead {
  min-height: 100vh;
  background: url('./assets/images/picture/simpleguy_kitty_splash_08c8b024-4a62-4acb-ad3d-a5dcfeeb0e16.png') center repeat
}

.animation:hover {
  transform-origin: center;
  transform: translateY(-10px);
  transition: 0.7s;

}

.animation::before {
  content: '';
  bottom: 0;
  right: 0;
  position: absolute;
  width: 0%;
  height: 4px;
  background-color: rgb(252, 230, 139);
  transition: 0.2s;
}

.animation:hover:before {
  width: 100%;
  left: 0;
}

.shop {
  min-width: 200px;
}

.skinImg {
  width: 80px;
}

.area {
  width: 100vw;
  height: 100vh;

}

.div {
  display: flex;
  width: 100%;
  height: 100%;
}

.div2 {
  display: flex;
  width: 100%;
  border-left: 2px solid rebeccapurple;
  height: 100%;
}
.catScin {
  height: 40vh;
}
